/** ==== Start with Meyer Reset for blank slate ==== **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** ==== End Reset ==== **/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #807066;
  background: #fff5e5;
  padding: 10px;
  max-width: 988px;
  margin: 0 auto;
}

a {
  color: #807066;
}

header {
  width: 100%;
  margin-bottom: 15px;
}

header:after {
  display: table;
  content: " ";
  clear: both;
}
  
header h1 {
  font-size: 2.0rem;
  font-weight: bold;
}

header a {
  text-decoration: none;
}

header nav ul {
  margin: 8px 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 5px;
}

footer ul.contact li {
  display: inline-block;
  padding: 0px 10px;
}

footer ul.contact {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

footer {
  width: 100%;
  padding: 12px 0;
  border-top: #807066 solid 1px;
  text-align: center;
  font-size: 1.4em;
  margin-top: 80px;
}

article {
  margin: 15px 15px 10px;
  clear: both;
  line-height: 1.4;
  font-size: 1.4rem;
}

@media (min-width: 528px) {
  header {
    padding: 15px 10px;
  }
  
  header h1 {
    float: left
  }
  
  header nav {
    float: right;
    margin-top: 8px;
  }
  
  footer {
    font-size: 1.8em;
  }
}